<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Octo_Streamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="89,139,125" />
                <SvgColor Name="Accent Paint Dark" Value="73,120,106" />
                <SvgColor Name="Accent Paint Light" Value="209,233,226" />
                <SvgColor Name="Accent Paint Lighter" Value="221,241,235" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="171,204,194" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Octo_Streamer.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayLayerProgress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ToolTempTarget" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BedTempTarget" serializeAs="String">
        <value>1</value>
      </setting>
    </Octo_Streamer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>